@model LoginDto
@{
    ViewData["Title"] = "Index";
}

<h1>Login</h1>

<form method="post">
    <label class="form-label">Email</label>
    <input type="email" asp-for="Email" value="erhangndz@live.com"  class="form-control" >
    <br />
<label class="form-label">Şifre</label>
<input type="password" asp-for="Password" value="Password12*" class="form-control" >

<br />
    <p class="text-danger">@Html.ValidationSummary()</p>
<button class="btn btn-primary">Giriş Yap</button>
</form>